@import fw_style
@import map-get
+exports("fw_search_area")
	.fw_search_area
		@extend .fw_center_vertical_0th
		right: 0
		width: 20%
		.wrap__fw_search_area
			img
				@extend .fw_center_vertical_0th
			input[type="text"]
				@extend .fw_margin_left_md
				@extend .fw_text_size_xlg_1st
				font-weight: bold
				width: 80%