@import fw_style
@import map-get
+exports("fw_ola_career_toan")
	.fw_career_box
		background-color: map-get($fw-color-cold,1)
		color: map-get($fw-color-dark,1)
		min-height: 70px;
		position: relative
		span
			color: #000
			font-weight: 700
			font-size: 18pt
			@extend .fw_god_center
	.fw_title_profile
		text-align: center
		p
			span
				font-weight: 400
			strong
				font-weight: 700
	.fw_img_center
		text-align: center
	article
		border: 1px solid map-get($fw-color-dark,3)
		p
			text-align: center
			font-weight: bold
