@import fw_style
@import map-get
+exports("fw_search_area")
	.fw_search
		position: fixed
		@extend .fw_center_horizontal_1st
		z-index: 2
		top: 0
		background-color: #fff
		.fw_search_area
			@extend .fw_padding_top_smd
			@extend .fw_padding_bottom_smd
			position: relative
			.wrap__fw_search_area
				width: 100%
				@extend .fw_center_vertical_0th
				img
					@extend .fw_margin_left_lg
				input[type="text"]
					@extend .fw_margin_left_xs
					@extend .fw_text_size_xlg_1st
					font-weight: bold
					width: 80%