@import map-get
+exports("fw_ola_grid_common")
	.fw_container_1st
		width: 1200px
	.fw_container_2nd
		width: 1024px
	.fw_container_3rd
		width: 480px
	.fw_container_4th
		width: 320px
	div[class*="_col_"],
	div[class^="_col_"]
		float: left
	.fw_col_12
		> *
			width: 100%
	.fw_col_11
		> *
			width: 91.67%
	.fw_col_10
		> *
			width: 83.33%
	.fw_col_9
		> *
			width: 75%
	.fw_col_8
		> *
			width: 66.67%
	.fw_col_7
		> *
			width: 58.33%
	.fw_col_6
		> *
			width: 50%
	.fw_col_5
		> *
			width: 41.67%
	.fw_col_4
		> *
			width: 25%
	.fw_col_3
		> *
			width: 33.33%
	.fw_col_2
		> *
			width: 16.67%
	.fw_col_1
		> *
			width: 8.33%