@import fw_style
@import map-get
+exports("fw_home_chat")
	.fw_chat
		position: fixed
		@extend .fw_center_horizontal_1st
		bottom: 0
		.fw_home_chat__fw_home
			@extend .fw_col_lg_10s
			padding-top: 5px
			border: 1px solid map-get($fw-color-dark,3)
			border-top-left-radius: 8px
			border-top-right-radius: 8px
			background-color: #fff
			overflow: hidden
			position: relative
			.left_site__fw_home_chat
				@extend .fw_col_lg_8s
				// white-space: nowrap
				// overflow-x: scroll
				border-right: 1px solid map-get($fw-color-dark,3)
				ul
					width: 100%
					li
						display: inline-block
						position: relative
						@extend .fw_margin_right_xs
						@extend .fw_margin_left_xs
						a
							img
								display: block
								margin: 0 auto
								@extend .fw_margin_bottom_xs
								&.online
									position: absolute
									top: 0
									left: 52%
							label
								@extend .fw_text_size_xlg_1st
			.right_site__fw_home_chat
				@extend .fw_col_lg_2s
				@extend .fw_padding_left_sm
				.search__right_site
					@extend .fw_center_vertical_0th
					img
						@extend .fw_margin_right_xs
					input
						width: 80%