@import fw_style
@import map-get
+exports("fw_header_career")
	.fw_wall_paper
		.fw_cover_image
			@extend .fw_clear_float_parent
			width: 100%
			img
				@extend .fw_col_lg_1
				@extend .fw_col_md_1
				float: left
				z-index: 1
				position: relative
				margin-top: -6.6rem
				margin-left: 9rem
				border: 0.1em solid map-get($fw-color-cold,1)
				border-radius: 50%
		.fw_menu_header
			@extend .fw_col_lg_6
			@extend .fw_col_md_6
			.container__fw_menu_header
				width: 100%
				height: 100%
				margin-left: 12.4rem
				.tutorial__container
					width: 100%
					margin: 5% auto 0 auto
					box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
					background-color: #F0F4F7
					margin-top: -3rem;
					ul
						font-size: 0
						list-style-type: none
						margin-left: 0rem
						.li_timeline
							padding-left: 3em
						li:last-child
							padding-right: 1.44em
						li
							font-size: 1rem
							font-weight: 400
							color: #333
							display: inline-block
							padding: 0.6em
							position: relative
							ul
								display: none
						li:hover
							cursor: pointer
							background-color: map-get($fw-color-cold,1)
							ul
								display: block
								margin-top: 9px
								width: 200px
								left: 0
								position: absolute
								background-color: map-get($fw-color-cold,1)
								margin-left: 0rem
								z-index: 1
								li:hover
									background-color: map-get($fw-color-cold,1)
									color: #F8FCFD
								li
									display: block
									background-color: map-get($fw-color-cold,1)
	.fw_left_menu
		@extend .fw_col_lg_4
		@extend .fw_col_md_4
		margin-top: -0.5rem
		.container__fw_left_menu
			width: 100%
			height: 100%
			.tutorial__container
				width: 100%
				ul
					font-size: 0
					list-style-type: none
					li:last-child
						border-right: 0px
					li
						background-color: #F0F4F7
						font-size: 1rem
						font-weight: 400
						color: #333
						display: inline-block
						padding: 15px
						position: relative
						border-right: 1px solid #CBCCCE
					li:hover
						cursor: pointer
						background-color: #f2f2f2
	.fw_time_line_status
		@extend .fw_clear_float_parent
		width: 100%
		.fw_name_user
			@extend .fw_col_lg_12
			@extend .fw_col_md_12
			text-align: center
			margin-bottom: 1em
			p:first-child
				font-weight: bold
		.fw_time_status
			@extend .fw_col_lg_12
			@extend .fw_col_md_12
			text-align: center
			ul
				li
					list-style-type: none
					display: inline-block
					position: relative
					i
					hr
						display: inline-block
						width: 10em
						top: -0.3em
						position: relative
		.fw_status
			@extend .fw_col_lg_12
			@extend .fw_col_md_12
			.container_status__fw_status
				@extend .fw_center_horizontal_1st
				text-align: center
				border: 1px solid
				border-radius: 10px
				padding: 1%
