.fw_career
	.fw_wall_paper
		.fw_cover_image
			img(src="photos/wall.png",alt="cover career")
			.fw_avatar_center
				img(src="photos/avatar.png",alt="avatar career")
		.fw_menu_header
			.container__fw_menu_header
				.tutorial__container
					ul
						li.li_timeline Dòng thời gian
						li Bạn là ai
						li Cuộc sống
						li Con đường
							ul
								li Nghề nghiệp
								li Văn học - Nghệ thuật
								li Bạn bè
								li Cộng đồng
								li Sở thích
						li Không quên
						li Nhiều hơn
							i.fa.fa-angle-down
	.fw_left_menu
		.tutorial__container
			ul
				li Bạn bè
					i.fa.fa-angle-down
				li Theo dõi
					i.fa.fa-angle-down
				li Tin nhắn
				li ...
	.fw_time_line_status
		.fw_name_user
			p LETHAO
			p (BabyDriver)
		.fw_time_status
			p 16 October 2017
			ul
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
		.fw_status
			.container_status__fw_status
				p "never hope for it more than you work for it"