.fw_home_right__fw_home
	.title__fw_home_right
		h2 Khám phá
		a(href="")
			img(src="imgs/eye_icon.png", alt="")
	ul.parent__fw_home_right
		li
			a(href="") Chúng tôi là ai
		li
			a(href="") Cuộc đời của tôi
		li.active
			a(href="") Con đường tôi
			ul.child__fw_home_right
				li
					a(href="") Nghề nghiệp
				li
					a(href="") Văn học - Nghệ thuật
				li
					a(href="") Bạn bè
				li
					a(href="") Kết nối
				li
					a(href="") Sở thích
		li
			a(href="") Không thể nào quên