.fw_home_chat__fw_home
	.left_site__fw_home_chat
		ul
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Trịnh Công Sơn
					img.online(src="imgs/green_dot.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Trịnh Công Sơn
					img.online(src="imgs/green_dot.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Trịnh Công Sơn
					img.online(src="imgs/green_dot.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Trịnh Công Sơn
					img.online(src="imgs/black_dot_icon.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Trịnh Công Sơn
					img.online(src="imgs/black_dot_icon.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Trịnh Công Sơn
					img.online(src="imgs/black_dot_icon.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Hiền Thục
					img.online(src="imgs/black_dot_icon.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Hiền Thục
					img.online(src="imgs/green_dot.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Hiền Thục
					img.online(src="imgs/green_dot.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Trịnh Công Sơn
					img.online(src="imgs/black_dot_icon.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Trịnh Công Sơn
					img.online(src="imgs/black_dot_icon.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Hiền Thục
					img.online(src="imgs/black_dot_icon.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Hiền Thục
					img.online(src="imgs/green_dot.png", alt="online_icon")
			li
				a(href="")
					img(src="imgs/avatar_icon.png", alt="avatar chat")
					label.name(for="") Hiền Thục
					img.online(src="imgs/green_dot.png", alt="online_icon")
	.right_site__fw_home_chat
		.search__right_site
			img(src="imgs/search_icon.png",alt="search icon")
			input(type="text", placeholder="TÌM KIẾM")