.fw_post_area__fw_home_center
	.fw_article_post__fw_post_area
		.fw_content__fw_article_post
			.img_wrap__fw_content
				img(src="photos/a2.jpg", alt="posted photo")
			.summary__fw_content
				p Người Việt ăn muối nhiều gấp đôi mức khuyến nghị. Trung bình một người trưởng thành tiêu thụ 9,4 g muối mỗi ngày, gấp hai lần so khuyến nghị của Tổ chức Y tế Thế giới...
			.behavior_wrap__fw_content
				.read_more__behavior_wrap
					a(href="") Đọc thêm +
				.like_share__behavior_wrap
					.img_wrap__right_site
						a
							img(src="imgs/heart_icon.png", alt="heart icon")
							label 244
					.img_wrap__right_site
						a
							img(src="imgs/share_white_icon.png", alt="share icon")
							label 55
							span  Chia sẻ
		.fw_comment_right__fw_article_post
			.author__fw_comment_right
				a(href="")
					img(src="imgs/avatar_icon.png", alt="author's article")
					label Nhân Tống.
						span  Vừa mới chia sẻ 15 phút trước
				.comment_display__fw_comment_right
					a(href="")
						img(src="imgs/comment_icon.png", alt="comment icon")
						label 96
							span  Bình luận
			.comment__fw_comment_right
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối. Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối...
						a(href="") Đọc thêm +

				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối...
						a(href="") Đọc thêm +
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối...
						a(href="") Đọc thêm +
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
			.counting__fw_comment_right
				label 4/16
				a(href="")
					img(src="imgs/caret_down_icon.png", alt="view more comment")
			.foot_article__fw_comment_right
				.right__foot_article
					input(type="text", placeholder="Chia sẻ suy nghĩ của bạn...")
					.edit_item__right
						.left__edit_item
							a(href="")
								img(src="imgs/submit_message_button.png", alt="background text")
						.right__edit_item
							ul
								li
									a
										img(src="imgs/link_icon.png", alt="link")
								li
									a
										img(src="imgs/smile_icon.png", alt="smile")
								li
									a
										img(src="imgs/attach_file_icon.png", alt="attached")
			.fw_display_comment
				img(src="imgs/", alt="")
	.fw_article_post__fw_post_area
		.fw_content__fw_article_post
			.img_wrap__fw_content
				img(src="photos/a1.jpg", alt="posted photo")
			.summary__fw_content
				p Người Việt ăn muối nhiều gấp đôi mức khuyến nghị. Trung bình một người trưởng thành tiêu thụ 9,4 g muối mỗi ngày, gấp hai lần so khuyến nghị của Tổ chức Y tế Thế giới...
			.behavior_wrap__fw_content
				.read_more__behavior_wrap
					a(href="") Đọc thêm +
				.like_share__behavior_wrap
					.img_wrap__right_site
						a
							img(src="imgs/heart_icon.png", alt="heart icon")
							label 244
					.img_wrap__right_site
						a
							img(src="imgs/share_white_icon.png", alt="share icon")
							label 55
							span  Chia sẻ
		.fw_comment_right__fw_article_post
			.author__fw_comment_right
				a(href="")
					img(src="imgs/avatar_icon.png", alt="author's article")
					label Nhân Tống.
						span  Vừa mới chia sẻ 15 phút trước
				.comment_display__fw_comment_right
					a(href="")
						img(src="imgs/comment_icon.png", alt="comment icon")
						label 96
							span  Bình luận
			.comment__fw_comment_right
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối. Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối...
						a(href="") Đọc thêm +

				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối...
						a(href="") Đọc thêm +
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối...
						a(href="") Đọc thêm +
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
			.counting__fw_comment_right
				label 4/16
				a(href="")
					img(src="imgs/caret_down_icon.png", alt="view more comment")
			.foot_article__fw_comment_right
				.right__foot_article
					input(type="text", placeholder="Chia sẻ suy nghĩ của bạn...")
					.edit_item__right
						.left__edit_item
							a(href="")
								img(src="imgs/submit_message_button.png", alt="background text")
						.right__edit_item
							ul
								li
									a
										img(src="imgs/link_icon.png", alt="link")
								li
									a
										img(src="imgs/smile_icon.png", alt="smile")
								li
									a
										img(src="imgs/attach_file_icon.png", alt="attached")
			.fw_display_comment
				img(src="imgs/", alt="")
	.fw_article_post__fw_post_area
		.fw_content__fw_article_post
			.img_wrap__fw_content
			.summary__fw_content
				p Real thua Girona trong ngày làm khách tại xứ Catalonia.
			.behavior_wrap__fw_content
				.read_more__behavior_wrap
					a(href="") Đọc thêm +
				.like_share__behavior_wrap
					.img_wrap__right_site
						a
							img(src="imgs/heart_icon.png", alt="heart icon")
							label 244
					.img_wrap__right_site
						a
							img(src="imgs/share_white_icon.png", alt="share icon")
							label 55
							span  Chia sẻ
		.fw_comment_right__fw_article_post
			.author__fw_comment_right
				a(href="")
					img(src="imgs/avatar_icon.png", alt="author's article")
					label Nhân Tống.
						span  Vừa mới chia sẻ 15 phút trước
				.comment_display__fw_comment_right
					a(href="")
						img(src="imgs/comment_icon.png", alt="comment icon")
						label 96
							span  Bình luận
			.comment__fw_comment_right
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối. Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối...
						a(href="") Đọc thêm +

				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối...
						a(href="") Đọc thêm +
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối...
						a(href="") Đọc thêm +
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					a(href="")
						img(src="imgs/avatar_icon.png", alt="author's article")
						label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
			.counting__fw_comment_right
				label 4/16
				a(href="")
					img(src="imgs/caret_down_icon.png", alt="view more comment")
			.foot_article__fw_comment_right
				.right__foot_article
					input(type="text", placeholder="Chia sẻ suy nghĩ của bạn...")
					.edit_item__right
						.left__edit_item
							a(href="")
								img(src="imgs/submit_message_button.png", alt="background text")
						.right__edit_item
							ul
								li
									a
										img(src="imgs/link_icon.png", alt="link")
								li
									a
										img(src="imgs/smile_icon.png", alt="smile")
								li
									a
										img(src="imgs/attach_file_icon.png", alt="attached")
			.fw_display_comment
				img(src="imgs/", alt="")
	