.fw_profile
	.fw_left_profile
		.fw_ola_intro__fw_left_profile
			h2 OLA INTRO
			.fw_flag__fw_ola_intro
				img(src="imgs/flag_icon.png",alt="flag icon")
				span Graphic design at
				a Square Group
			.fw_glasses__fw_ola_intro
				img(src="imgs/glasses_icon.png",alt="glasses icon")
				span Went to
				a Architecture
			.fw_house__fw_ola_intro
				img(src="imgs/house_icon.png",alt="house icon")
				span From
				a Nha Trang
			.fw_clock__fw_ola_intro
				img(src="imgs/clock_icon.png",alt="clock icon")
				span Joined October 2010
			.fw_followed__fw_ola_intro
				img(src="imgs/followed_icon.png",alt="followed icon")
				span Followed by
				a 970 people
		.fw_intro_photo__fw_left_profile
			.fw_info_photo__fw_intro_photo
				span PHOTO
				a 50
			.fw_content_photo__fw_intro_photo
		.fw_photo__fw_left_profile
	.fw_content_profile
		.fw_post_status__fw_content_profile
			.select_type__fw_post_status
				.tab_task__select_type
					ul
						li.status__fw_post_status.active
							a
								img(src="imgs/post_message_icon.png",alt="post message")
								label VIẾT BÀI
						li
							a
								label THÊM ẢNH/ALBUM
						li
							a
								label VIDEO
			.fw_main_input__fw_post_status
				input(type="text" placeholder="Bạn đang nghĩ gì, Thảo?")
				.send_post__main_input
					a
						img(src="imgs/plane_icon.png" alt="plane icon")
		.fw_article_status__fw_content_profile
			.info_post__fw_article_status__fw_content_profile
				img(src="imgs/avatar_career.png" alt="avatar post")
				label LeThao
				span Cập nhật ảo bìa của Thảo
				span ...
			img(src="imgs/cover_career.png" alt="image post")
	.fw_right_profile