<<<<<<< HEAD
.fw_cover_image
	img(src="imgs/cover_carrer.png",alt="cover career")
.fw_menu_header
	.left_menu__fw_menu_header
		.container__left_menu
			.tutorial__container
				ul
					li Friends
						i.fa.fa-angle-down
					li Following
						i.fa.fa-angle-down
					li Message
					li ...
	img(src="imgs/avatar_career.png",alt="avatar career")
	.right_menu__fw_menu_header
		.container__right_menu
			.tutorial__container
				ul
					li.li_timeline Dòng thời gian
					li Bạn là ai
					li Cuộc sống
					li Con đường
						ul
							li Nghề nghiệp
							li Văn học - Nghệ thuật
							li Bạn bè
							li Cộng đồng
							li Sở thích
					li Không quên
					li Nhiều hơn
						i.fa.fa-angle-down
.fw_time_line_status
	.fw_name_user
		p LETHAO
		p (BabyDriver)
	.fw_time_status
		p 16 October 2017
		ul
			li
				i.fa.fa-circle-o
				hr
			li
				i.fa.fa-circle-o
				hr
			li
				i.fa.fa-circle-o
				hr
			li
				i.fa.fa-circle-o
				hr
			li
				i.fa.fa-circle-o
				hr
			li
				i.fa.fa-circle-o
				hr
			li
				i.fa.fa-circle-o
	.fw_status
		.container_status__fw_status
			p "Never hope for it more than you for it."
.fw_career_box
	span NGHỀ NGHIỆP
.fw_title_profile
	p
		span Hồ Sơ:
		strong Hiện tại
.fw_img_center
	img(src="imgs/line_bar.png",alt="line bar")
.fw_experience_career
	article
		.fw_experience_career_one
			.fw_left_experience__fw_experience_career_one
				p Kinh nghiệm
			.fw_right_edit__fw_experience_career_one
				i.fa.fa-pencil
				label Chỉnh sửa
			.fw_position_one__fw_experience_career_one
				.fw_left_img__fw_position_one
					img(src="imgs/avatar_icon.png", alt="avatar image")
				.fw_right_position__fw_position_one
					.fw_title_positon__fw_right_position
						h4 Trợ lý giám đốc, đầu tư và phát triển kinh doanh (quốc tế)
					.fw_detail_position__fw_right_position
						p Quản lý quỹ(Úc)
						p 3-2017 - hiện tại | 7 tháng
						p Sydney, Úc
			hr
			.fw_position_one__fw_experience_career_one
				.fw_left_img__fw_position_one
					img(src="imgs/avatar_icon.png", alt="avatar image")
				.fw_right_position__fw_position_one
					.fw_title_positon__fw_right_position
						h4 Giám đốc, đầu tư
					.fw_detail_position__fw_right_position
						p Quản lý quỹ(Úc)
						p 2016 - 3-2017 | 1 năm
		.fw_more_position__fw_experience_career
			a Xem thêm kinh nghiệm
			hr
			.fw_featured_skills
				p Kỹ năng đặc biệt và xác thực
		.fw_featured_skills_label
			.fw_skill_one__fw_featured_skills_label
				p Sự đánh giá
			.fw_skill_two__fw_featured_skills_label
				p Quản lý tài nguyên
			.fw_skill_three__fw_featured_skills_label
				p Phân tích tài chính
			hr
		.fw_see_all__fw_experience_career
			a Xem tất cả
=======
.fw_career
	.fw_wall_paper
		.fw_cover_image
			img(src="photos/wall.png",alt="cover career")
			.fw_avatar_center
				img(src="photos/avatar.png",alt="avatar career")
		.fw_menu_header
			.container__fw_menu_header
				.tutorial__container
					ul
						li.li_timeline Dòng thời gian
						li Bạn là ai
						li Cuộc sống
						li Con đường
							ul
								li Nghề nghiệp
								li Văn học - Nghệ thuật
								li Bạn bè
								li Cộng đồng
								li Sở thích
						li Không quên
						li Nhiều hơn
							i.fa.fa-angle-down
	.fw_left_menu
		.tutorial__container
			ul
				li Bạn bè
					i.fa.fa-angle-down
				li Theo dõi
					i.fa.fa-angle-down
				li Tin nhắn
				li ...
	.fw_time_line_status
		.fw_name_user
			p LETHAO
			p (BabyDriver)
		.fw_time_status
			p 16 October 2017
			ul
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
					hr
				li
					i.fa.fa-circle-o
		.fw_status
			.container_status__fw_status
				p "Sống ảo là lối sống của tui"
	.fw_career_box
		h2 NGHỀ NGHIỆP
	.fw_title_profile
		h3
			span Hồ Sơ:
			strong Hiện tại
	.fw_img_center
		img(src="imgs/line_bar.png",alt="line bar")
	.fw_experience_career
		// Experience --------------------------------------------------------------------------------
		article
			.fw_experience_career_one
				.fw_left_experience__fw_experience_career_one
					label Kinh nghiệm
				.fw_right_edit__fw_experience_career_one
					a(href="") 
						i.fa.fa-pencil
						label Chỉnh sửa
				.fw_position_one__fw_experience_career_one
					.fw_left_img__fw_position_one
						img(src="imgs/building_icon.png", alt="building image")
					.fw_right_position__fw_position_one
						.fw_title_positon__fw_right_position
							h4 Trợ lý giám đốc, đầu tư và phát triển kinh doanh (quốc tế)
						.fw_detail_position__fw_right_position
							label Quản lý quỹ (Úc)
							br
							label 3-2017 - hiện tại  |  7 tháng
							br
							label Sydney, Úc
				hr
				.fw_position_one__fw_experience_career_one
					.fw_left_img__fw_position_one
						img(src="imgs/building_icon.png", alt="building image")
					.fw_right_position__fw_position_one
						.fw_title_positon__fw_right_position
							h4 Giám đốc, đầu tư
						.fw_detail_position__fw_right_position
							label Quản lý quỹ (Úc)
							br
							label 2016 - 3-2017  |  1 năm
			.fw_more_position__fw_experience_career
				a(href="") Xem thêm kinh nghiệm
					i.fa.fa-angle-down 
				hr
				.fw_featured_skills
					label Kỹ năng đặc biệt và xác thực
			.fw_featured_skills_label
				ul
					li
						label Sự đánh giá
						span 12
					li
						label Quản lý tài nguyên
						span 25
					li
						label Phân tích tài chính
						span 79
				hr
			.fw_see_all
				a(href="") Xem tất cả
					i.fa.fa-angle-down
		// My footsteps --------------------------------------------------------------------------------
		article
			.fw_my_footsteps_header
				.fw_left_experience__fw_experience_career_one
					label Những địa điểm đã đến
				.fw_right_edit__fw_experience_career_one
					a(href="") 
						i.fa.fa-pencil
						label Chỉnh sửa
			.fw_my_footsteps
				ul
					li
						label Địa điểm
						span 35
					li
						label Thành phố
						span 17
					li
						label Gần đây
						span 49
				hr
			.fw_detail_footsteps
				.fw_my_detail_footsteps__fw_detail_footsteps
					.fw_wrap_img__my_detail_footsteps
						img(src="photos/a2.jpg", alt="building image")
					.fw_footsteps_name__my_detail_footsteps
						label Hà Nội
				.fw_my_detail_footsteps__fw_detail_footsteps
					.fw_wrap_img__my_detail_footsteps
						img(src="photos/a6.jpg", alt="building image")
					.fw_footsteps_name__my_detail_footsteps
						label Hồ Chí Minh
				.fw_my_detail_footsteps__fw_detail_footsteps
					.fw_wrap_img__my_detail_footsteps
						img(src="photos/a5.jpg", alt="building image")
					.fw_footsteps_name__my_detail_footsteps
						label Hội An
				.fw_my_detail_footsteps__fw_detail_footsteps
					.fw_wrap_img__my_detail_footsteps
						img(src="photos/a3.jpg", alt="building image")
					.fw_footsteps_name__my_detail_footsteps
						label Nha Trang
				.fw_my_detail_footsteps__fw_detail_footsteps
					.fw_wrap_img__my_detail_footsteps
						img(src="photos/a2.jpg", alt="building image")
					.fw_footsteps_name__my_detail_footsteps
						label Phú Quốc
				.fw_my_detail_footsteps__fw_detail_footsteps
					.fw_wrap_img__my_detail_footsteps
						img(src="photos/a6.jpg", alt="building image")
					.fw_footsteps_name__my_detail_footsteps
						label Hạ Long
				hr
			.fw_see_all
				a(href="") Xem tất cả
					i.fa.fa-angle-down
		// Description --------------------------------------------------------------------------------
		article
			.fw_description_header
				.fw_left_experience__fw_experience_career_one
					label Mô tả
				.fw_right_edit__fw_experience_career_one
					a(href="") 
						i.fa.fa-pencil
						label Chỉnh sửa
				hr
			.fw_about_me
				h4 Về bản thân
				p Xin chào, tôi tên là Thảo
				p Tôi là trưởng nhón thiết kế tại freedomWalking studio, sống ở TP HCM.
				p Tôi có thể làm việc với branding, layout, website, mutilmedia, motion graphic, character concept, cho game, phim, animation, ...
				h4 Phương châm sống
				p Không có niềm tin tôn giáo nào hơn sự thật
				hr
		// Books --------------------------------------------------------------------------------
		article
			.fw_book_header
				.fw_left_experience__fw_experience_career_one
					label Sách
				.fw_right_edit__fw_experience_career_one
					a(href="") 
						i.fa.fa-pencil
						label Chỉnh sửa
			.fw_detail_book
				ul
					li
						label Thích
						span 95
					li
						label Mô tả
						span 37
					li
						label Re-blog
						span 42
				hr
			.fw_favourite_books
				.fw_my_detail_books__fw_favourite_books
					.fw_wrap_img__my_detail_books
						img(src="photos/a6.jpg", alt="building image")
					.fw_footsteps_name__my_detail_books
						.fw_title_label
							label Conan
						.fw_type_label
							label Truyện
				.fw_my_detail_books__fw_favourite_books
					.fw_wrap_img__my_detail_books
						img(src="photos/a2.jpg", alt="building image")
					.fw_footsteps_name__my_detail_books
						.fw_title_label
							label Hồ Chí Minh
						.fw_type_label
							label Tác giả
				.fw_my_detail_books__fw_favourite_books
					.fw_wrap_img__my_detail_books
						img(src="photos/a5.jpg", alt="building image")
					.fw_footsteps_name__my_detail_books
						.fw_title_label
							label Ngôi nhà ma ám
						.fw_type_label
							label Tiểu thuyết
				.fw_my_detail_books__fw_favourite_books
					.fw_wrap_img__my_detail_books
						img(src="photos/a6.jpg", alt="building image")
					.fw_footsteps_name__my_detail_books
						.fw_title_label
							label Vũ trụ
						.fw_type_label
							label Sách
				.fw_my_detail_books__fw_favourite_books
					.fw_wrap_img__my_detail_books
						img(src="photos/a2.jpg", alt="building image")
					.fw_footsteps_name__my_detail_books
						.fw_title_label
							label Tháng 11
						.fw_type_label
							label Sách
				.fw_my_detail_books__fw_favourite_books
					.fw_wrap_img__my_detail_books
						img(src="photos/a5.jpg", alt="building image")
					.fw_footsteps_name__my_detail_books
						.fw_title_label
							label NodeJS 8
						.fw_type_label
							label book
				.fw_my_detail_books__fw_favourite_books
					.fw_wrap_img__my_detail_books
						img(src="photos/a2.jpg", alt="building image")
					.fw_footsteps_name__my_detail_books
						.fw_title_label
							label Conan
						.fw_type_label
							label Truyện
				.fw_my_detail_books__fw_favourite_books
					.fw_wrap_img__my_detail_books
						img(src="photos/a3.jpg", alt="building image")
					.fw_footsteps_name__my_detail_books
						.fw_title_label
							label Conan
						.fw_type_label
							label Truyện
				.fw_my_detail_books__fw_favourite_books
					.fw_wrap_img__my_detail_books
						img(src="photos/a3.jpg", alt="building image")
					.fw_footsteps_name__my_detail_books
						.fw_title_label
							label Conan
						.fw_type_label
							label Truyện
				hr
			.fw_see_all
				a(href="") Xem tất cả
					i.fa.fa-angle-down
		// Sport --------------------------------------------------------------------------------
		article
			.fw_sport_header
				.fw_left_experience__fw_experience_career_one
					label Thể thao
				.fw_right_edit__fw_experience_career_one
					a(href="") 
						i.fa.fa-pencil
						label Chỉnh sửa
			.fw_detail_sport
				ul
					li
						label Thích
						span 95
					li
						label Mô tả
						span 37
					li
						label Re-blog
						span 42
				hr
			.fw_favourite_sports
				.fw_my_detail_sports__fw_favourite_sports
					.fw_wrap_img__my_detail_sports
						img(src="photos/a5.jpg", alt="building image")
					.fw_sports_name__my_detail_sports
						label CLB MU
				.fw_my_detail_sports__fw_favourite_sports
					.fw_wrap_img__my_detail_sports
						img(src="photos/a3.jpg", alt="building image")
					.fw_sports_name__my_detail_sports
						label Ronaldo
				.fw_my_detail_sports__fw_favourite_sports
					.fw_wrap_img__my_detail_sports
						img(src="photos/a2.jpg", alt="building image")
					.fw_sports_name__my_detail_sports
						label Messi
				.fw_my_detail_sports__fw_favourite_sports
					.fw_wrap_img__my_detail_sports
						img(src="photos/a6.jpg", alt="building image")
					.fw_sports_name__my_detail_sports
						label Bơi lội
				hr
			.fw_see_all
				a(href="") Xem tất cả
					i.fa.fa-angle-down
		// Music --------------------------------------------------------------------------------
		article
			.fw_music_header
				.fw_left_experience__fw_experience_career_one
					label Âm nhạc
				.fw_right_edit__fw_experience_career_one
					a(href="") 
						i.fa.fa-pencil
						label Chỉnh sửa
			.fw_detail_music
				ul
					li
						label Thích
						span 222
					li
						label Mô tả
						span 378
					li
						label Re-blog
						span 32
				hr
			.fw_favourite_music
				.fw_my_detail_music__fw_favourite_music
					.fw_wrap_img__my_detail_music
						img(src="photos/a5.jpg", alt="building image")
					.fw_music_name__my_detail_music
						.fw_title_label
							label 365 
						.fw_type_label
							label Ban nhạc
				.fw_my_detail_music__fw_favourite_music
					.fw_wrap_img__my_detail_music
						img(src="photos/a2.jpg", alt="building image")
					.fw_music_name__my_detail_music
						.fw_title_label
							label Despacito
						.fw_type_label
							label Bài hát
				.fw_my_detail_music__fw_favourite_music
					.fw_wrap_img__my_detail_music
						img(src="photos/a3.jpg", alt="building image")
					.fw_music_name__my_detail_music
						.fw_title_label
							label Taylor Swift
						.fw_type_label
							label Ca sĩ
				.fw_my_detail_music__fw_favourite_music
					.fw_wrap_img__my_detail_music
						img(src="photos/a6.jpg", alt="building image")
					.fw_music_name__my_detail_music
						.fw_title_label
							label Bruno Mars
						.fw_type_label
							label Ca sĩ
				.fw_my_detail_music__fw_favourite_music
					.fw_wrap_img__my_detail_music
						img(src="photos/a5.jpg", alt="building image")
					.fw_music_name__my_detail_music
						.fw_title_label
							label Em gái mưa
						.fw_type_label
							label Bài hát
				.fw_my_detail_music__fw_favourite_music
					.fw_wrap_img__my_detail_music
						img(src="photos/a6.jpg", alt="building image")
					.fw_music_name__my_detail_music
						.fw_title_label
							label Pop
						.fw_type_label
							label Thể loại
				hr
			.fw_see_all
				a(href="") Xem tất cả
					i.fa.fa-angle-down
>>>>>>> master
