.fw_notification__fw_home_left
	.img_wrap__fw_notification
		img(src="imgs/avatar_icon.png", alt="avatar image")
		label Nhân Tống
	.list_item__fw_notification
		ul.parent__list_item
			li
				a(href="")
					img(src="imgs/gear_icon.png", alt="gear icon")
				ul.child__list_item
					li
						a(href="")
							img(src="imgs/avatar_icon.png", alt="avatar image")
							.notification_item__child
								label Tuấn Anh.
									span  cập nhật trạng thái mới
								p cách đây 1 phút
					li
						a(href="")
							img(src="imgs/avatar_icon.png", alt="avatar image")
							.notification_item__child
								label Tuấn Anh.
									span  cập nhật trạng thái mới
								p cách đây 1 phút
					li
						a(href="")
							img(src="imgs/avatar_icon.png", alt="avatar image")
							.notification_item__child
								label Tuấn Anh.
									span  cập nhật trạng thái mới
								p cách đây 1 phút
					li
						a(href="")
							img(src="imgs/avatar_icon.png", alt="avatar image")
							.notification_item__child
								label Tuấn Anh.
									span  cập nhật trạng thái mới
								p cách đây 1 phút
					li
						a(href="")
							img(src="imgs/avatar_icon.png", alt="avatar image")
							.notification_item__child
								label Tuấn Anh.
									span  cập nhật trạng thái mới
								p cách đây 1 phút
			li
				a(href="")
					img(src="imgs/bell_icon.png", alt="bell icon")
					label 16
			li
				a(href="")
					img(src="imgs/friends_icon.png", alt="friends icon")
			li
				a(href="")
					img(src="imgs/message_icon.png", alt="message icon")
			li
				a(href="")
					img(src="imgs/lock_icon.png", alt="lock icon")