.fw_trending_articles__fw_home_left
	.title__fw_trending_article
		h2 Tin hot
		a(href="")
			img(src="imgs/question_icon.png", alt="")
	.article_wrapper__fw_trending_articles
		article
			.title__fw_trending_articles
				.left_site__title
					.img_wrap__left_site
						a
							img(src="imgs/avatar_icon_o.png", alt="")
							label Phuong Ly
				.right_site__title
					.img_wrap__right_site
						a
							img(src="imgs/heart_icon.png", alt="heart icon")
							label 244
					.img_wrap__right_site
						a
							img(src="imgs/share_white_icon.png", alt="share icon")
							label 55
							span  Chia sẻ
			.main_site__fw_trending_articles
				.img_wrap__main_site
					img(src="photos/a3.jpg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot__fw_trending_articles
				.left_site__foot
					.img_wrap__left_site
						a
							img(src="imgs/comment_icon.png", alt="comment icon")
							label 96
							span Bình luận
				.right_site__foot
					.img_wrap__right_site
						a Đọc thêm +
		article
			.title__fw_trending_articles
				.left_site__title
					.img_wrap__left_site
						a
							img(src="imgs/avatar_icon_o.png", alt="")
							label Phuong Ly
				.right_site__title
					.img_wrap__right_site
						a
							img(src="imgs/heart_icon.png", alt="heart icon")
							label 244
					.img_wrap__right_site
						a
							img(src="imgs/share_white_icon.png", alt="share icon")
							label 55
							span  Chia sẻ
			.main_site__fw_trending_articles
				.img_wrap__main_site
					img(src="photos/a2.jpg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot__fw_trending_articles
				.left_site__foot
					.img_wrap__left_site
						a
							img(src="imgs/comment_icon.png", alt="comment icon")
							label 96
							span Bình luận
				.right_site__foot
					.img_wrap__right_site
						a Đọc thêm +
		article
			.title__fw_trending_articles
				.left_site__title
					.img_wrap__left_site
						a
							img(src="imgs/avatar_icon_o.png", alt="")
							label Phuong Ly
				.right_site__title
					.img_wrap__right_site
						a
							img(src="imgs/heart_icon.png", alt="heart icon")
							label 244
					.img_wrap__right_site
						a
							img(src="imgs/share_white_icon.png", alt="share icon")
							label 55
							span  Chia sẻ
			.main_site__fw_trending_articles
				.img_wrap__main_site
					img(src="photos/a1.jpg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot__fw_trending_articles
				.left_site__foot
					.img_wrap__left_site
						a
							img(src="imgs/comment_icon.png", alt="comment icon")
							label 96
							span Bình luận
				.right_site__foot
					.img_wrap__right_site
						a Đọc thêm +							
		article
			.title__fw_trending_articles
				.left_site__title
					.img_wrap__left_site
						a
							img(src="imgs/avatar_icon_o.png", alt="")
							label Phuong Ly
				.right_site__title
					.img_wrap__right_site
						a
							img(src="imgs/heart_icon.png", alt="heart icon")
							label 244
					.img_wrap__right_site
						a
							img(src="imgs/share_white_icon.png", alt="share icon")
							label 55
							span  Chia sẻ
			.main_site__fw_trending_articles
				.img_wrap__main_site
					img(src="photos/a4.jpg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot__fw_trending_articles
				.left_site__foot
					.img_wrap__left_site
						a
							img(src="imgs/comment_icon.png", alt="comment icon")
							label 96
							span Bình luận
				.right_site__foot
					.img_wrap__right_site
						a Đọc thêm +
		article
			.title__fw_trending_articles
				.left_site__title
					.img_wrap__left_site
						a
							img(src="imgs/avatar_icon_o.png", alt="")
							label Phuong Ly
				.right_site__title
					.img_wrap__right_site
						a
							img(src="imgs/heart_icon.png", alt="heart icon")
							label 244
					.img_wrap__right_site
						a
							img(src="imgs/share_white_icon.png", alt="share icon")
							label 55
							span  Chia sẻ
			.main_site__fw_trending_articles
				.img_wrap__main_site
					img(src="photos/a5.jpg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot__fw_trending_articles
				.left_site__foot
					.img_wrap__left_site
						a
							img(src="imgs/comment_icon.png", alt="comment icon")
							label 96
							span Bình luận
				.right_site__foot
					.img_wrap__right_site
						a Đọc thêm +
		article
			.title__fw_trending_articles
				.left_site__title
					.img_wrap__left_site
						a
							img(src="imgs/avatar_icon_o.png", alt="")
							label Phuong Ly
				.right_site__title
					.img_wrap__right_site
						a
							img(src="imgs/heart_icon.png", alt="heart icon")
							label 244
					.img_wrap__right_site
						a
							img(src="imgs/share_white_icon.png", alt="share icon")
							label 55
							span  Chia sẻ
			.main_site__fw_trending_articles
				.img_wrap__main_site
					img(src="photos/a6.jpg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot__fw_trending_articles
				.left_site__foot
					.img_wrap__left_site
						a
							img(src="imgs/comment_icon.png", alt="comment icon")
							label 96
							span Bình luận
				.right_site__foot
					.img_wrap__right_site
						a Đọc thêm +