<<<<<<< HEAD
extends layouts/master_page.pug
block header
	include header/layout_header
block page
	include page/layout_career
block footer
	include footer/layout_footer
=======
extends layouts/master_page_home.pug
block header
	include header/layout_header
block home_center
	include page/layout_career
block chat
	include page/layout_home_chat
>>>>>>> master
