<<<<<<< HEAD
extends layouts/master_page.pug
<<<<<<< HEAD
//- block page
//- 	include page/layout_home
//- block footer
//- 	include footer/layout_footer
//- block script
//- 	include script/layout_script
block header
	include header/layout_header_career
=======
=======
extends layouts/master_page_home.pug
block search
	include page/layout_search
block home_center
	include page/layout_home_cover
>>>>>>> 12cdc9cae7928eed4a6866914930630267965c71
block page
	include page/layout_home
block footer
	include footer/layout_footer
<<<<<<< HEAD
>>>>>>> 0f74225c30c9194ac34c500fffb812ab2a1a9615
=======
block chat
	include page/layout_home_chat
>>>>>>> 12cdc9cae7928eed4a6866914930630267965c71
