extends layouts/master_page.pug
block page
	include page/layout_home
block footer
	include footer/layout_footer
block script
	include script/layout_script
//- block header
//- 	include header/layout_header_career