extends layouts/master_page_home.pug
block header
	include header/layout_header
block home_center
	include page/layout_home_cover
block page
 include page/layout_home
block footer
 include footer/layout_footer
block chat
 include page/layout_home_chat

