extends layouts/master_page.pug
<<<<<<< HEAD
//- block page
//- 	include page/layout_home
//- block footer
//- 	include footer/layout_footer
//- block script
//- 	include script/layout_script
block header
	include header/layout_header_career
=======
block page
	include page/layout_home
block footer
	include footer/layout_footer
>>>>>>> 0f74225c30c9194ac34c500fffb812ab2a1a9615
