extends layouts/master_page_home.pug
block header
	include header/layout_header
block home_center
	include header/layout_header_detail
	include page/layout_profile
block chat
	include page/layout_home_chat