.fw_search_area
	img(src="search_icon.png",alt="search icon")
	input(type="text", placeholder="search")
.fw_home_left
	.fw_logo
		img(src="ola_logo.png", alt="OLA Logo")
	.fw_notification__fw_home_left
		.img_wrap__fw_notification
			img(src="avatar_icon.png", alt="avatar image")
		.list_item__fw_notification
			ul
				li.gear__list_item
					a(href="")
				li.bell__list_item
					a(href="")
				li.friends__list_item
					a(href="")
				li.message__list_item
					a(href="")
				li.lock__list_item
					a(href="")
	.fw_trending_artciles__fw_home_left
		.title__fw_trending_artciles
			h2 Tin hot
			a(href="").question__fw_trending_artciles
		artcile
			.title_left_site__fw_trending_artciles
				.img_wrap__left_site
					img(src="", alt="")
			.title_right_site__fw_trending_artciles
				a
					img(src="heart_icon.png", alt="heart icon")
					label 244
				a
					img(src="share_white_icon.png", alt="share icon")
					label 55
						span  Chia sẻ
			.main_site__fw_trending_artciles
				img(src="a01.jpeg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot_left_site__fw_trending_artciles
				a
					img(src="comment_icon.png", alt="comment icon")
					label 96
						span Bình luận
			.foot_right_site__fw_trending_artciles
				a Đọc thêm +
		artcile
			.title_left_site__fw_trending_artciles
				.img_wrap__left_site
					img(src="", alt="")
			.title_right_site__fw_trending_artciles
				a
					img(src="heart_icon.png", alt="heart icon")
					label 244
				a
					img(src="share_white_icon.png", alt="share icon")
					label 55
						span  Chia sẻ
			.main_site__fw_trending_artciles
				img(src="a01.jpeg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot_left_site__fw_trending_artciles
				a
					img(src="comment_icon.png", alt="comment icon")
					label 96
						span Bình luận
			.foot_right_site__fw_trending_artciles
				a Đọc thêm +
		artcile
			.title_left_site__fw_trending_artciles
				.img_wrap__left_site
					img(src="", alt="")
			.title_right_site__fw_trending_artciles
				a
					img(src="heart_icon.png", alt="heart icon")
					label 244
				a
					img(src="share_white_icon.png", alt="share icon")
					label 55
						span  Chia sẻ
			.main_site__fw_trending_artciles
				img(src="a01.jpeg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot_left_site__fw_trending_artciles
				a
					img(src="comment_icon.png", alt="comment icon")
					label 96
						span Bình luận
			.foot_right_site__fw_trending_artciles
				a Đọc thêm +
		artcile
			.title_left_site__fw_trending_artciles
				.img_wrap__left_site
					img(src="", alt="")
			.title_right_site__fw_trending_artciles
				a
					img(src="heart_icon.png", alt="heart icon")
					label 244
				a
					img(src="share_white_icon.png", alt="share icon")
					label 55
						span  Chia sẻ
			.main_site__fw_trending_artciles
				img(src="a01.jpeg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot_left_site__fw_trending_artciles
				a
					img(src="comment_icon.png", alt="comment icon")
					label 96
						span Bình luận
			.foot_right_site__fw_trending_artciles
				a Đọc thêm +
		artcile
			.title_left_site__fw_trending_artciles
				.img_wrap__left_site
					img(src="", alt="")
			.title_right_site__fw_trending_artciles
				a
					img(src="heart_icon.png", alt="heart icon")
					label 244
				a
					img(src="share_white_icon.png", alt="share icon")
					label 55
						span  Chia sẻ
			.main_site__fw_trending_artciles
				img(src="a01.jpeg", alt="trending post")
				p Chủ tịch thành phố Đà Nẵng hy vọng sẽ thu hút được nhiều doanh nghiệp đầu tư vào các lĩnh vực công nghiệp, dịch vụ, đặc biệt là du lịch.
			.foot_left_site__fw_trending_artciles
				a
					img(src="comment_icon.png", alt="comment icon")
					label 96
						span Bình luận
			.foot_right_site__fw_trending_artciles
				a Đọc thêm +
.fw_home_center
	.fw_add_friends__fw_home_center
		.title__fw_add_friends
			h2 Kết bạn
			a(href="").question__fw_trending_artciles
		article
			img(src="avatar_icon.png", alt="avatar icon")
			label John Doe
		article
			img(src="avatar_icon.png", alt="avatar icon")
			label John Doe
		article
			img(src="avatar_icon.png", alt="avatar icon")
			label John Doe
		article
			img(src="avatar_icon.png", alt="avatar icon")
			label John Doe
	.fw_post_status__fw_home_center
		ul
			li.status__fw_post_status
				img(src="post_message_icon.png", alt="post message")
				label Cập nhật trạng thái
				|
			li
				img(src="post_message_icon.png", alt="post message")
				label Thêm ảnh / album
				|
			li
				img(src="post_message_icon.png", alt="post message")
				label Vide trực tuyến
				|
		.right_site__fw_post_status
			.fw_switch
				.bar__fw_switch
					.on__fw_switch Bật
					.off__fw_switch Tắt
			label Công khai
		.fw_main_input
			input(type="text", placeholder="Bạn đang nghĩ gì, Thảo?")
			a.send_button__fw_main_input
	.fw_filter_article__fw_home_center
		nav
			a(href="") Dòng thời gian
			a(href="") Bài mới
			a(href="") Bạn bè
			a(href="") Nhóm
		.right_site__fw_filter_article
			label Tìm theo
			img(src="filter_icon.png", alt="")
			.filter_hover__right_site
				ul
					li.latest__filter_hover
						img(src="black_dot_icon.png", alt="bullet latest")
						a(href="") Bài mới nhất
					li.feature__filter_hover
						img(src="black_dot_icon.png", alt="bullet latest")
						a(href="") Tính năng
					li.favourite__filter_hover
						img(src="ưhite_dot_icon.png", alt="bullet latest")
						a(href="") Sở thích
					li.pin__filter_hover
						img(src="black_dot_icon.png", alt="bullet latest")
						a(href="") Pin
	.fw_article_post__fw_home_center
		.fw_content__fw_article_post
			img(src="a1.jpg", alt="posted photo")
			p Người Việt ăn muối nhiều gấp đôi mức khuyến nghị. Trung bình một người trưởng thành tiêu thụ 9,4 g muối mỗi ngày, gấp hai lần so khuyến nghị của Tổ chức Y tế Thế giới.
			a(href="") Đọc thêm +
		.fw_comment_right__fw_article_post
			.author__fw_comment_right
				img(src="avatar_icon.jpg", alt="author's article")
				label Nhân Tống.
					span Vừa mới chia sẻ 15 phút trước
			.comment__fw_comment_right
				.block__comment
					img(src="avatar_icon.jpg", alt="author's article")
					label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					img(src="avatar_icon.jpg", alt="author's article")
					label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					img(src="avatar_icon.jpg", alt="author's article")
					label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					img(src="avatar_icon.jpg", alt="author's article")
					label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
				.block__comment
					img(src="avatar_icon.jpg", alt="author's article")
					label Phuong Ly
					p Thạc sĩ Ngô Thị Hà Phương, Trung tâm Giáo dục Truyền thông Dinh dưỡng, Viện Dinh dưỡng Quốc gia cho biết, mô hình ăn uống của người dân  Việt Nam thay đổi theo chiều hướng tăng tiêu thụ chất béo, đạm, đặc biệt là tiêu thụ dư thừa muối. Gần 60% người dân tiêu thụ lượng muối cao gấp hai lần lượng muối được khuyên dùng hàng ngày. Tổ chức Y tế Thế giới (WHO) khuyến nghị, một người trưởng thành nên sử dụng dưới 5 g muối mỗi ngày, tuy nhiên một bát phở hoặc bún có thể có đến 4-5 g muối.
			.counting__fw_comment_right
				label 4/16
				a(href="")
					img(src="caret_down_icon.png", alt="view more comment")
		.foot_article__fw_article_post
			.left__foot_article
				ul
					li
						a(href="")
					li
						a(href="")
			.right__foot_article
				textarea(name="", cols="30", rows="10")
				.edit_item__right
					.left
						a(href="")
							img(src="submit_message_button.png", alt="background text")
					.right
					ul
						li
							a
								img(src="link_icon.png", alt="link")
						li
							a
								img(src="smile_icon.png", alt="smile")
						li
							a
								img(src="attached_icon.png", alt="attached")
.fw_home_right
	ul
		li
			a(href="") Chúng tôi là ai
		li
			a(href="") Cuộc đời của tôi
		li
			a(href="") Con đường tôi
			ul
				li
					a(href="") Nghề nghiệp
				li
					a(href="") Văn học - Nghệ thuật
				li
					a(href="") Bạn bè
				li
					a(href="") Kết nối
				li
					a(href="") Sở thích
		li
			a(href="") Không thể nào quên
.fw_home_chat
	.left_site__fw_home_chat
		ul
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
			li
				a(href="")
					img(src="avatar_icon.png", alt="avatar chat")
					label.name(for="")
					img.online(src="", alt="")
	.right_site__fw_home_chat
		.search__right_site
			img(src="search_icon.png",alt="search icon")
			input(type="text", placeholder="search")