doctype html
html
	head
		title OLA Project
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="OLA")
		meta(name="keywords" content="")
		meta(name="author" content="OLA")
		link(rel="shortcut icon" href="./favicon.ico")
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	body
		.fw_container_0th.fw_container_1st.fw_container_2nd.fw_container_3rd
			block header
			block page
			block footer
		//- .fw_chat.fw_container_0th.fw_container_1st.fw_container_2nd.fw_container_3rd
		//- 	block chat